/* app/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";
/* @tailwind utilities; */

@layer base {
  /* light theme */
  :root {
    --font-global: "Noto Sans Lao", sans-serif;
    --background: 255 255 255;
    --foreground: 72 72 72;
    --text-color: #454ca1;
    --background-gradient: radial-gradient(circle at bottom left, #041069, #272ff5, #131fa8);
  }

  /* dark theme */
  [data-theme="dark"] {
    --background: 8 9 14;
    --foreground: 223 223 223;
    --text-color: #454ca1;
    --background-gradient: radial-gradient(circle at bottom left, #041069, #272ff5, #131fa8);
  }

  /* blue theme */
  [data-theme="blue"] {
    --background: 4 16 105; /* deep blue fallback */
    --bg-color: white;
    --text-color: #454ca1;
    --color-brand-50: #eaf2ff;
    --color-brand-100: #d4e4ff;
    --color-brand-200: #a9c9ff;
    --color-brand-300: #7eaeff;
    --color-brand-400: #5393ff;
    --color-brand-500: #2978ff;
    --color-brand-600: #1f60cc;
    --color-brand-700: #174899;
    --color-brand-800: #0f3066;
    --color-brand-900: #081833;

    --foreground: 255 255 255;
    --primary-lighter: 255 255 255;
    --primary-default: 165 168 19; /* yellow */
    --primary-dark: 72 72 72;
    --primary-foreground: 255 255 255;
    --secondary-lighter: 4 16 105;
    --secondary-default: 39 47 245;
    --secondary-dark: 19 31 168;
    --secondary-foreground: 255 255 255;
    --background-gradient: radial-gradient(circle at bottom left, #041069, #272ff5, #131fa8);
  }
}

body {
  /* background: rgb(var(--background) / 1); */
  font-family: var(--font-global);
  background-color: var(--bg-color);
  /* color: rgb(var(--foreground) / 1); */
  color: var(--text-color);
}

.header-project {
  font-weight: bold;
  font-size: 3rem;
  background: var(--background-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.glass {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}