/* app/globals.css */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&display=swap');
/* @tailwind utilities; */

@layer base {
  /* light theme */
  :root {
    --font-global: 'Noto Sans Lao', sans-serif;
    --background: 255 255 255;
    --foreground: 72 72 72;
    --text-color: #454ca1;
    --background-gradient: radial-gradient(circle at bottom left, #041069, #272ff5, #131fa8);
  }

  /* dark theme */
  [data-theme="dark"] {
    --background: 8 9 14;
    --foreground: 223 223 223;
    --text-color: #454ca1;
    --background-gradient: radial-gradient(circle at bottom left, #041069, #272ff5, #131fa8);
  }

  /* blue theme */
  [data-theme="blue"] {
    --background: 4 16 105; /* deep blue fallback */
    --bg-color: white;
    --text-color: #454ca1;
    --foreground: 255 255 255;
    --primary-lighter: 255 255 255;
    --primary-default: 165 168 19; /* yellow */
    --primary-dark: 72 72 72;
    --primary-foreground: 255 255 255;
    --secondary-lighter: 4 16 105;
    --secondary-default: 39 47 245;
    --secondary-dark: 19 31 168;
    --secondary-foreground: 255 255 255;
    --background-gradient: radial-gradient(circle at bottom left, #041069, #272ff5, #131fa8);
  }
}

body {
  /* background: rgb(var(--background) / 1); */
  font-family: var(--font-global);
  background-color: var(--bg-color);
  /* color: rgb(var(--foreground) / 1); */
  color: var(--text-color);
}

.header-project {
  font-weight: bold;
  font-size: 3rem;
  background: var(--background-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
